body{
    background-color:#dfdfdf;
    font-family: 'Raleway', sans-serif; 
    margin: 0px;
    /* background-image: url(../../curriculo/images/background.jpg); */
    /* background-position:right bottom */
    /* background-repeat: no-repeat; */
    /* background-position: 100% 10%; */
    /* background-attachment: fixed; */
}
.container{
    width: 70%;
    max-width: 900px;
    min-width: 200px;
    margin: 0 auto;
}

.profile{
   text-align: center;
}
.social{
    width: 50px;
    margin-top: 20px;
    
}
.github{
    width: 50px;
    margin: 0px 30px 0 30px;
}
a{
    text-decoration: none;
}

p{
    color:rgb(34,34,43);
    text-align: justify

}

.foto-principal{
    width: 220px;
    border-radius: 50%;
    box-shadow: 0px 0px 13px #00000082;
    border:5px solid white;
    padding:10px;
}

h1{
    margin-bottom: 0;
    letter-spacing: -1px;
    font-size: 35px;
    font-family: 'PT Sans Narrow', sans-serif;
}

h2{
    margin-top: 0;
    font-style: italic;
    color:rgb(31,31,31);
    letter-spacing: -1px;
}

h3{
    margin-bottom: 0px;
}

p{
    margin-top:  20px;
    line-height: 27px;
}
ul li{
    list-style-type: none;
}
ol{
    margin-top: 3px;
}
.footer{
    margin-top: 40px;
    padding: 13px 0;
    color:white;
    text-align: center;
    background-color: black;
}